body {
    font-family: Arial, sans-serif;
    background-color:aliceblue;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    color:blue;
    text-align: center;
  }
  
  table {
    border: 2px solid skyblue;
    width: 650px;
    margin: 0 auto;
  }
  
  thead {
    background-color:turquoise;
  }
  
  td {
    border-top: 1px solid skyblue;
  }
  
  .code {
    font-family: monospace;
    background-color: beige;
  }